@import "base/variable.scss";

.gallery {
  position: relative;
  color: #fff;
  background-color: #000;
  min-height: 460px;
  background-image: url("img/gallery/header-galery-car.png");
  background-repeat: no-repeat;
  background-position: 100% 0;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0px;
  }

  &__header {
    padding-top: 100px;
    font-size: 4.06rem;
    font-weight: 100;
    line-height: 1;

    &--bold {
      content: "";
      display: block;
      white-space: pre;
      font-weight: 400;
      line-height: 1;
    }
  }

  &__description {
    font-size: 1.3125rem;
  }

  &__link {
    color: #ea0d60;
  }
}

.image {
  padding: 140px 0 95px;

  &__container {
    max-width: 570px;
    margin: 0 auto;
  }

  &__header {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 4.06rem;
    line-height: 1;

    @include small {
      margin: 0 30px;
    }

    &::before {
      content: "07";
      display: block;
      position: absolute;
      top: -24px;
      left: -24px;
      opacity: 0.1;
    }
  }

  &__underline {
    color: #ea0d60;
  }

  &__description {
    padding: 38px 10px 0;
    font-size: 1.3125rem;
    line-height: 1.7;
  }

  &__side {
    // width: 600px;
    font-size: 1.3125rem;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    display: none;
  }

  &__link {
    color: #000;
    &--active {
      color: #ea0d60;
    }

    &--pink {
      color: #ea0d60;
      margin: 0 24px;
    }
  }
  //gallery
  &__images {
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    margin: 0 auto;
    // justify-content: center;

    @include medium {
      flex-direction: column;
      align-items: center
    }

    @include small {
      width: 100%;
    }
  }

  &__fotos-container {
    margin-top: 80px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    @include small {
      width: 100%;
      height: auto;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
    }
  }

  &__fotos {
    position: relative;
    width: 50%;
    height: 50%;
    overflow: hidden;
    z-index: 0;
    background-color: #fff;
    @include small {
      width: 80%;
      height: 340px;
      box-shadow: 1px 0px 5px #d0d0d0;

    }

    &--effects {
      box-shadow: 1px 0px 15px #d0d0d0;
      z-index: 1;
      transform: scale(1.2);
    }
    // &:hover {
    //   box-shadow: 1px 0px 15px #d0d0d0;
    //   z-index: 1;
    //   transform: scale(1.2);
    // }
  }

  &__video {
    width: 600px;
    overflow: hidden;

    @include small {
      width: 100%;
    }

    &--video {
      @include small {
        width: 600px;    
      }
    }
  }

  &__img {
    min-width: 100%;
    // min-height: 100%;
    top: 0;
    // bottom: 0;
    left: 0;
    position: absolute;
    transform: scale(1);

    @include small {
      top: auto;
      left: auto;
      right: -40px;
    }
    &--first {
      left: -340px;

      @include small {
        bottom: 0;
        left: auto;
        right: -40px;
      }
    }

    &--third {
      top: -20px;
      left: -250px;
      @include small {
        bottom: 0;
        left: auto;
      }
    }

    &--fourth {
      left: -0px;
      @include small {
        bottom: 0;
        left: auto;
      }
    }
  }
}
