$large-width: 1700px;
$medium-width: 1400px;
$submedium-width: 1100px;
$small-width: 700px;
$subsmall-width: 300px;

@mixin imgProperty {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
}

@mixin large {
  @media (max-width: #{$large-width}) {
    @content;
  }
}
@mixin medium {
  @media (max-width: #{$medium-width}) {
    @content;
  }
}
@mixin submedium {
  @media (max-width: #{$submedium-width}) {
    @content;
  }
}

@mixin small {
  @media (max-width: #{$small-width}) {
    @content;
  }
}
@mixin subsmall {
  @media (max-width: #{$subsmall-width}) {
    @content;
  }
}
